@font-face {
  font-family: 'HelveticaNeue';
  src: url("fonts/HelveticaNeue/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeue/HelveticaNeue.woff") format("woff"), url("fonts/HelveticaNeue/HelveticaNeue.ttf") format("truetype"), url("fonts/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url("fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.woff") format("woff"), url("fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.ttf") format("truetype"), url("fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url("fonts/HelveticaNeue-Light/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeue-Light/HelveticaNeue-Light.woff") format("woff"), url("fonts/HelveticaNeue-Light/HelveticaNeue-Light.ttf") format("truetype"), url("fonts/HelveticaNeue-Light/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url("fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.woff") format("woff"), url("fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.ttf") format("truetype"), url("fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SocialGothic';
  src: url("fonts/SocialGothic/SocialGothic.eot?#iefix") format("embedded-opentype"), url("fonts/SocialGothic/SocialGothic.woff") format("woff"), url("fonts/SocialGothic/SocialGothic.ttf") format("truetype"), url("fonts/SocialGothic/SocialGothic.svg#SocialGothic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SocialGothic-DemiBold';
  src: url("fonts/SocialGothic-DemiBold/SocialGothic-DemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/SocialGothic-DemiBold/SocialGothic-DemiBold.woff") format("woff"), url("fonts/SocialGothic-DemiBold/SocialGothic-DemiBold.ttf") format("truetype"), url("fonts/SocialGothic-DemiBold/SocialGothic-DemiBold.svg#SocialGothic-DemiBold") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: 'HelveticaNeue'; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'SocialGothic-DemiBold'; }

html {
  font-size: 14px; }

img {
  max-width: 100%; }

a:hover, a:focus, a:visited {
  outline: none !important;
  text-decoration: none; }

button {
  outline: none !important; }

p {
  margin-bottom: 0; }

.form-group {
  margin-bottom: 0; }

/* Buzz Out */
@-webkit-keyframes buzz {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0); }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0); } }
@keyframes buzz {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0); }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0); } }
.buzz {
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.buzz:hover, .buzz:focus, .buzz:active {
  -webkit-animation-name: buzz;
  animation-name: buzz;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.animation {
  visibility: hidden;
  position: relative;
  animation-fill-mode: forwards; }

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.slideLeft {
  animation-name: slideLeft;
  visibility: visible;
  animation-duration: 1s; }

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.slideRight {
  animation-name: slideRight;
  visibility: visible;
  animation-duration: 1s; }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.slideUp {
  animation-name: slideUp;
  visibility: visible;
  animation-duration: 1s; }

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.slideDown {
  animation-name: slideDown;
  visibility: visible;
  animation-duration: 1s; }

@keyframes infinityDown {
  0% {
    top: 0px; }
  25% {
    top: 15px; }
  50% {
    top: 0px; }
  75% {
    top: 15px; }
  100% {
    top: 0px; } }
@-webkit-keyframes infinityDown {
  0% {
    top: 0px; }
  25% {
    top: 15px; }
  50% {
    top: 0px; }
  75% {
    top: 15px; }
  100% {
    top: 0px; } }
.infinity-down {
  animation-name: infinityDown;
  visibility: visible;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  position: relative;
  transition-timing-function: linear; }

.zoom {
  animation-name: zoom;
  visibility: visible;
  animation-duration: 2s; }

@keyframes zoom {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes zoom {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
.form-control-success,
.form-control-warning,
.form-control-danger {
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right 0.5625rem;
  -webkit-background-size: 1.125rem 1.125rem;
  background-size: 1.125rem 1.125rem; }

.has-success .form-control-feedback,
.has-success .form-control-label,
.has-success .col-form-label,
.has-success .form-check-label,
.has-success .custom-control {
  color: #6FB25D; }

.has-success .form-control {
  border-color: #6FB25D; }

.has-success .input-group-addon {
  color: #6FB25D;
  border-color: #6FB25D;
  background-color: #eaf6ea; }

.has-success .form-control-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E"); }

.has-warning .form-control-feedback,
.has-warning .form-control-label,
.has-warning .col-form-label,
.has-warning .form-check-label,
.has-warning .custom-control {
  color: #FD3B03; }

.has-warning .form-control {
  border-color: #FD3B03; }

.has-warning .input-group-addon {
  color: #FD3B03;
  border-color: #FD3B03;
  background-color: white; }

.has-warning .form-control-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E"); }

.has-danger .form-control-feedback,
.has-danger .form-control-label,
.has-danger .col-form-label,
.has-danger .form-check-label,
.has-danger .custom-control {
  color: #dc3545; }

.has-danger .form-control {
  border-color: #dc3545; }

.has-danger .input-group-addon {
  color: #dc3545;
  border-color: #dc3545;
  background-color: #fdf7f7; }

.has-danger .form-control-danger {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
  background-position: 95% 10px; }

.error-msg > * {
  color: #dc3545; }

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */ }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%; }

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none; }

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-carousel .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-carousel .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px; }

.owl-carousel .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none; }

.owl-carousel .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-carousel .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-carousel .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-carousel .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px; }

.owl-carousel .owl-dots .owl-dot.active span, .owl-carousel .owl-dots .owl-dot:hover span {
  background: #869791; }

header {
  color: #ECE9E8;
  font-size: 12px; }
  header a {
    color: #ECE9E8;
    font-size: 12px; }
    header a:hover {
      color: #ECE9E8; }
  header div span.fa {
    margin-right: 5px; }
  header .header-details div {
    margin-bottom: 5px; }
    header .header-details div a:last-of-type {
      margin-left: 18px; }
  header .row div.col-12:first-of-type {
    display: none; }
  header .row div.col-12:last-of-type {
    display: none !important; }

.search {
  width: 180px; }
  .search .form-control {
    border: 0;
    box-shadow: none;
    height: 35px;
    line-height: 1.2rem;
    color: #fff; }
  .search button {
    width: 40px;
    line-height: 35px;
    font-size: 16px;
    text-align: center;
    padding: 0;
    border: 0;
    box-shadow: 0;
    background-color: #5E9E4D;
    color: #fff; }
  .search button span.fa {
    margin-right: 0; }

@media (min-width: 992px) {
  header .header-details {
    padding-left: 110px; }
    header .header-details div {
      margin-bottom: 10px; }
  header .row div.col-12:first-of-type {
    display: block; }
  header .row div.col-12:last-of-type {
    display: flex !important; }
  header button span.fa {
    margin-right: 0; } }
@media (min-width: 1200px) {
  header .header-details {
    padding-left: 160px; } }
.navbar-brand img {
  height: 45px; }

.search-mobile {
  text-align: center;
  margin-right: 10px; }
  .search-mobile .fa {
    color: #fff;
    font-size: 2rem;
    width: 60px;
    height: 40px;
    line-height: 40px; }

.navbar {
  padding: 0; }
  .navbar .navbar-toggler {
    border: none;
    padding: 9px;
    overflow: hidden; }
    .navbar .navbar-toggler span {
      display: block;
      height: 2px;
      width: 25px;
      margin-bottom: 5px;
      background: #fff;
      transition: 0.4s linear; }
      .navbar .navbar-toggler span:last-of-type {
        margin-bottom: 0px; }
    .navbar .navbar-toggler.active span:nth-of-type(2) {
      transform: translateX(-100px);
      opacity: 0; }
    .navbar .navbar-toggler.active span:first-of-type {
      transform: rotate(45deg) translate(5px, 5px); }
    .navbar .navbar-toggler.active span:last-of-type {
      transform: rotate(-45deg) translate(5px, -5px); }
    .navbar .navbar-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
  .navbar .nav-item {
    border-bottom: 1px solid rgba(64, 64, 64, 0.1);
    background-color: #fff;
    transition: 0.5s ease; }
    .navbar .nav-item .nav-link {
      font-size: 1.3rem;
      color: #212529;
      padding: 5px 15px;
      position: relative;
      transition: 0.5s ease; }
      .navbar .nav-item .nav-link span {
        position: absolute;
        height: 38.3px;
        width: 40px;
        line-height: 37.3px;
        text-align: center;
        top: 0;
        right: 0;
        z-index: 2;
        font-size: 1rem; }
    .navbar .nav-item:hover, .navbar .nav-item.active {
      background-color: #5E9E4D; }
      .navbar .nav-item:hover .nav-link, .navbar .nav-item.active .nav-link {
        color: #fff; }
  .navbar .search {
    width: 100%; }
  .navbar .navbar-nav {
    background-color: #6FB25D; }
  .navbar .search-toggle {
    display: none;
    width: 100%; }
  .navbar .submenu {
    background-color: #ebffe5;
    display: none;
    z-index: 5; }
    .navbar .submenu li:first-of-type a {
      border-top: 1px solid #404040; }
    .navbar .submenu li a {
      color: #212529;
      padding: 5px 0;
      display: block; }
      .navbar .submenu li a.submenu-active {
        font-weight: bold; }
    .navbar .submenu li:hover {
      font-weight: bold; }
    .navbar .submenu .container {
      padding-right: 0px;
      padding-left: 0px; }

@media (min-width: 992px) {
  .navigation {
    background-color: #ECE9E8 !important;
    position: relative; }

  .navbar-brand {
    display: none; }

  .search-mobile, .search-toggle {
    display: none !important; }

  .navbar {
    position: static;
    background-color: transparent !important; }
    .navbar .nav-item {
      border-bottom: none;
      background-color: transparent; }
      .navbar .nav-item .nav-link {
        font-size: 1rem;
        color: #404040;
        padding: 12px 0px;
        position: static;
        transition: none; }
        .navbar .nav-item .nav-link span {
          position: static;
          height: auto;
          width: auto;
          line-height: 1.2;
          text-align: center;
          font-size: 1rem; }
      .navbar .nav-item:hover, .navbar .nav-item.active {
        border-bottom: none;
        background-color: transparent; }
        .navbar .nav-item:hover .nav-link, .navbar .nav-item.active .nav-link {
          color: #404040;
          font-weight: bold; }
      .navbar .nav-item .submenu {
        display: none !important; }
      .navbar .nav-item:hover .submenu {
        display: flex !important; }
      .navbar .nav-item:first-of-type {
        min-width: 74px;
        text-align: left; }
        .navbar .nav-item:first-of-type .nav-link span {
          margin-left: 5px; }
      .navbar .nav-item:nth-of-type(2) {
        min-width: 101px; }
      .navbar .nav-item:nth-of-type(3) {
        min-width: 122px; }
        .navbar .nav-item:nth-of-type(3) .nav-link span {
          margin-left: 13px; }
      .navbar .nav-item:nth-of-type(4) {
        min-width: 82px; }
      .navbar .nav-item:last-of-type {
        min-width: 120px; }
        .navbar .nav-item:last-of-type .nav-link {
          text-align: right;
          color: #5E9E4D;
          font-family: 'HelveticaNeue-Bold'; }
          .navbar .nav-item:last-of-type .nav-link span {
            margin-left: 22px; }
      .navbar .nav-item:last-of-type:hover .nav-link {
        font-weight: normal; }
      .navbar .nav-item:last-of-type:hover .submenu {
        display: none; }
    .navbar .navbar-nav {
      background-color: transparent;
      width: 100%; }
    .navbar .submenu {
      background-color: #f0f4ef;
      position: absolute;
      width: 100%;
      left: 0;
      top: 100%;
      background-color: #fff;
      border-bottom: 2px solid #6FB25D; }
      .navbar .submenu li {
        margin-right: 127px; }
        .navbar .submenu li:first-of-type a {
          border-top: none; }
        .navbar .submenu li a {
          font-family: 'SocialGothic-DemiBold';
          font-weight: bold;
          color: #067233;
          padding: 39px 0;
          display: block; }
          .navbar .submenu li a.submenu-active {
            font-weight: bold; }
        .navbar .submenu li:hover {
          font-weight: normal; }
      .navbar .submenu .container {
        padding-right: 15px;
        padding-left: 15px; } }
footer a, footer p {
  color: #fff;
  font-size: 12px; }
footer span {
  margin-right: 8px; }
footer a:hover {
  color: #fff; }
footer .footer-brand {
  max-width: 130px; }
footer .container {
  padding-top: 14px;
  padding-bottom: 14px;
  position: relative; }
footer .btn {
  font-family: 'SocialGothic-DemiBold';
  padding-right: 0.5rem;
  z-index: 7;
  position: absolute;
  top: -36.9px;
  right: 15px; }
  footer .btn span {
    margin-right: 0;
    margin-left: 5px;
    font-size: 1rem;
    width: 20px;
    text-align: center; }

@media (min-width: 768px) {
  footer .container {
    padding-top: 20px;
    padding-bottom: 20px; } }
@media (min-width: 992px) {
  footer .container {
    padding-top: 28px;
    padding-bottom: 28px; }
  footer .btn {
    top: -37px; } }
.homepage-main-slider-1 .lead-slider-1 {
  margin-bottom: 0; }
.homepage-main-slider-1 .lead-slider-details {
  padding: 20px 15px; }
  .homepage-main-slider-1 .lead-slider-details h4 {
    font-family: 'HelveticaNeue'; }
  .homepage-main-slider-1 .lead-slider-details a {
    font-family: 'SocialGothic-DemiBold'; }
.homepage-main-slider-1 li {
  height: 220px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
.homepage-main-slider-1 h1 {
  font-size: 1.6rem; }
.homepage-main-slider-1 h4 {
  font-size: 1.3rem; }
.homepage-main-slider-1 .owl-nav {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between; }
.homepage-main-slider-1 .owl-stage-outer {
  position: relative; }
.homepage-main-slider-1 .owl-prev, .homepage-main-slider-1 .owl-next {
  margin: 0 !important; }
  .homepage-main-slider-1 .owl-prev:hover, .homepage-main-slider-1 .owl-next:hover {
    background: none !important; }
  .homepage-main-slider-1 .owl-prev span, .homepage-main-slider-1 .owl-next span {
    font-size: 2rem;
    height: 30px;
    width: 30px;
    color: #fff;
    display: inline-block;
    line-height: 30px; }

@media (min-width: 576px) {
  .homepage-main-slider-1 .lead-slider-details {
    padding: 20px 0px; }
  .homepage-main-slider-1 li {
    height: 270px; }
  .homepage-main-slider-1 .owl-nav {
    left: 8px;
    right: 8px; } }
@media (min-width: 768px) {
  .homepage-main-slider-1 li {
    height: 320px; }
  .homepage-main-slider-1 h1 {
    font-size: 2rem; }
  .homepage-main-slider-1 h4 {
    font-size: 1.35rem; }
  .homepage-main-slider-1 .owl-nav {
    left: 15px;
    right: 15px; } }
@media (min-width: 992px) {
  .homepage-main-slider-1 .lead-slider-details {
    padding: 35px 0; }
  .homepage-main-slider-1 li {
    height: 380px; }
  .homepage-main-slider-1 h1 {
    font-size: 2.57rem; }
  .homepage-main-slider-1 h4 {
    font-size: 1.43rem; }
  .homepage-main-slider-1 .owl-nav {
    left: 20px;
    right: 20px; } }
.main-cards h1 {
  color: #5E9E4D;
  font-size: 1.6rem; }
.main-cards figure {
  height: 30px;
  width: 30px; }
.main-cards a {
  transition: 0.5s ease; }
  .main-cards a img {
    padding-top: 7%;
    padding-bottom: 7%; }
.main-cards a:hover {
  background-color: #e0dcda; }

@media (min-width: 576px) {
  .main-cards h1 {
    font-size: 2.2rem; }
  .main-cards figure {
    height: 40px;
    width: 40px; } }
@media (min-width: 768px) {
  .main-cards h1 {
    font-size: 2rem; } }
@media (min-width: 1200px) {
  .main-cards h1 {
    font-size: 2.57rem; } }
.popular-products {
  position: relative; }
  .popular-products .popular-products-slider {
    border-bottom: 1px solid #ECE9E8; }
  .popular-products .popular-products-item figure {
    margin-bottom: 1rem !important;
    width: 190px;
    height: 240px;
    position: relative; }
    .popular-products .popular-products-item figure a {
      height: 100%; }
    .popular-products .popular-products-item figure img {
      display: inline-block;
      width: 100%;
      height: 100%; }
  .popular-products .popular-products-item a, .popular-products .popular-products-item p {
    color: #333333;
    font-family: 'SocialGothic';
    font-size: 16px; }
  .popular-products .popular-products-item h5 a {
    font-family: 'SocialGothic-DemiBold'; }
  .popular-products .popular-products-item p:last-of-type {
    color: #6FB25D;
    font-family: 'SocialGothic-DemiBold';
    font-size: 18px; }
  .popular-products .popular-products-item .discount {
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 18px;
    background-color: #6FB25D;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    right: -20px;
    bottom: 0px; }
    .popular-products .popular-products-item .discount p {
      color: #fff;
      font-size: 10px; }
      .popular-products .popular-products-item .discount p:first-of-type {
        font-size: 12px;
        padding-top: 10px; }
      .popular-products .popular-products-item .discount p:last-of-type {
        padding-bottom: 11px; }
  .popular-products .owl-nav {
    margin: 0;
    position: absolute;
    top: -43px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between; }
  .popular-products .owl-prev, .popular-products .owl-next {
    margin: 0 !important; }
    .popular-products .owl-prev:hover, .popular-products .owl-next:hover {
      background: none !important; }
    .popular-products .owl-prev span, .popular-products .owl-next span {
      font-size: 2rem;
      height: 30px;
      width: 30px;
      color: #fff;
      background-color: #6FB25D !important;
      display: block;
      line-height: 25px;
      border-radius: 2px !important;
      text-align: center; }

@media (min-width: 360px) {
  .popular-products {
    margin-top: 30px; }
    .popular-products .owl-nav {
      top: -65px; } }
@media (min-width: 440px) {
  .popular-products {
    margin-top: 0px; }
    .popular-products .owl-nav {
      top: -29px; } }
.homepage-main-items .row .col-12:first-of-type .homepage-main-items-wrapper {
  background-image: url("assets/homepage/homepage-main-items-1.png"), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%); }
.homepage-main-items .row .col-12:nth-of-type(2) .homepage-main-items-wrapper {
  background-image: url("assets/homepage/homepage-main-items-2.png"), linear-gradient(190.24deg, rgba(0, 0, 0, 0) 0%, #000000 100%); }
.homepage-main-items .row .col-12:nth-of-type(3) .homepage-main-items-wrapper {
  background-image: url("assets/homepage/homepage-main-items-3.png"), linear-gradient(190.24deg, rgba(0, 0, 0, 0) 0%, #000000 100%); }
.homepage-main-items .homepage-main-items-wrapper {
  height: 250px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

/*# sourceMappingURL=theme.css.map */
