$p-color: $gray-100;
$link-color: $gray-100;


header{
    color: $p-color;
    font-size:12px;
    a{
        color: $link-color;
        font-size: 12px;
        &:hover{
            color: $p-color;
        }
    }
    div{
        span.fa{
            margin-right: 5px;
        } 
    }
    .header-details{
        div{
            margin-bottom: 5px;
            a:last-of-type{
                margin-left: 18px;
            }
        }
    }
    .row{
        div.col-12:first-of-type{
            display: none;
        }
        div.col-12:last-of-type{
            display: none!important;
        }
    }    
}



.search{
        width: 180px;

        .form-control{
            border:0;
            box-shadow: none;
            height: 35px;
            line-height: 1.2rem;
            color:$white;
        }
        button{
            width: 40px;
            line-height: 35px;
            font-size: 16px;
            text-align: center;
            padding: 0;
            border: 0;
            box-shadow: 0;
            background-color: $green-2;
            color:$white;
        }
        button{
            span.fa{
                margin-right: 0;
            }
        }
    }

    
    
    
    
@media(min-width:992px){
    header{

        .header-details{
            padding-left:110px;
            div{
                margin-bottom: 10px;              
            }

        }


        .row{
            div.col-12:first-of-type{
                display: block;
            }
            div.col-12:last-of-type{
                display: flex!important;
            }
        }
        button{
            span.fa{
                margin-right: 0;
            }
        }
    }  



}


@media(min-width:1200px){

    header{
        .header-details{
            padding-left:160px;           
        }        
    }


}