// INDEX HTML

.homepage-main-slider-1{
    .lead-slider-1{
        margin-bottom:0;
    }
    .lead-slider-details{
        padding: 20px 15px;
    }
    li{
        height: 220px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    h1{
        font-size: 1.6rem;
    }
    h4{
        font-size: 1.3rem;
    }
    .owl-nav{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 0px;
        right: 0px;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
    }
    .owl-stage-outer{
        position: relative;
    }
    .owl-prev,.owl-next{
        margin:0!important;
        &:hover{
            background : none!important;
        }
        span{
            font-size: 2rem;
            height: 30px;
            width: 30px;
            color: $white;
            display: inline-block;
            line-height: 30px;           
        }
    }

}

@media(min-width:576px){
    .homepage-main-slider-1{
        .lead-slider-details{
            padding: 20px 0px;
        }
        li{
            height: 270px;  
        }
        .owl-nav{
            left: 8px;
            right: 8px; 
        }
    } 
}
@media(min-width:768px){
    .homepage-main-slider-1{
        li{
            height: 320px;  
        }
        h1{
            font-size: 2rem;
        }
        h4{
            font-size: 1.35rem;
        }
        .owl-nav{
            left: 15px;
            right: 15px; 
        }
    } 
}


@media(min-width:992px){
    .homepage-main-slider-1{
        .lead-slider-details{
            padding: 35px 0;
        }
        li{
            height: 380px;  
        }
        h1{
            font-size: 2.57rem;
        }
        h4{
            font-size: 1.43rem;
        }
        .owl-nav{
            left: 20px;
            right: 20px; 
        }
    }
}

